<ion-view view-title="수강생">
    <div class="bar bar-subheader bar-stable">
      <div class="button-bar">
        <button class="button button-light button-android" ng-class="{ 'button\-positive': demo == 'similar' }" ng-click="setPlatform('similar')">
          시작일이 비슷한
        </button>
        <button class="button button-light button-android" ng-class="{ 'button\-positive': demo == 'all' }" ng-click="setPlatform('all')">
          모든 사람
        </button>
      </div>
    </div>
  <ion-content class="has-subheader has-tabs" has-header="true">
    <div class="padding" >
    <ion-list>
      <ion-item class = "item-avatar item-icon-right" ng-repeat="user in users" type="item-text-wrap" href="#/tab/userprofile/{{user.userid}}" >
            <img ng-src="{{user.gender}}">
            <div style="text-align:left;width:30%;float:left">
              <h2>{{user.name}}</h2>
              <b>스피킹 : {{user.speaking_level}}</b><br>
              <b>발음 : {{user.pronunciation_level}}</b><br>
            </div>
            <div style="text-align:left;width:30%;float:left">
              <br><b>Passed : {{user.rate_passed}}</b><br>
              <b>Failed : {{user.rate_failed}}</b>
            </div>
            <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    </div>
  </ion-content>
</ion-view>