<ion-view view-title="학습">
  <ion-content class="has-footer">
    <div id='profile-level' class="row" style="text-align:center;margin-top:20%;font-size:20px">
      <div class="col text-center">
        <a class="button icon button-positive" style="width:35%;height:40%;font-size:25px;text-align:center" href="#/tab/talkmain/1">문법</a>
        <a class="button icon button-positive" style="width:35%;height:40%;;font-size:25px;text-align:center" href="#/tab/talkmain/2">토픽</a>
      </div>
    </div>
    <div id='profile-level' class="row" style="text-align:center;font-size:20px">
      <div class="col text-center">
        <a class="button icon button-positive" style="width:35%;height:40%;font-size:14px;text-align:center" href="#/tab/talkmain/3">Korean Grammar</a>
        <a class="button icon button-positive" style="width:35%;height:40%;font-size:14px;text-align:center" href="#/tab/talkmain/4">Korean Topic</a>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar id="admin-bar" align-title="center">
    <a id="joiner-btn" class="button icon icon-right ion-chevron-right" href="#/tab/joiner">금일 참석자</a>
    <a id="pronunciation-btn" class="button icon icon-right ion-chevron-right" href="#/tab/userlist">발음 업로드</a>
  </ion-footer-bar>
</ion-view>