<ion-view view-title="SNS">
  <ion-content>
    <div class="row">
      <button class="button button-block button-positive" ng-click="close_users()" style="width:50%;height:40px">시작일이 비슷한</button>
      <button class="button button-block button-positive" ng-click="all_users()" style="width:50%;height:40px">모든 사람</button>
    </div>
    <ion-list>
      <ion-item class = "item-avatar item-icon-right" ng-repeat="user in users" type="item-text-wrap" href="#/userprofile/{{user.userid}}">
            <img ng-src="{{user.gender}}">
            <div style="text-align:left;width:30%;float:left">
              <h2>{{user.name}}</h2>
              <b>스피킹 : {{user.speaking_level}}</b><br>
              <b>발음 : {{user.pronunciation_level}}</b><br>
            </div>
            <div style="text-align:left;width:30%;float:left">
              <br><b>Passed : {{user.rate_passed}}</b><br>
              <b>Failed : {{user.rate_failed}}</b>
            </div>
            <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>