<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive" >

  <!-- Profile Tab -->
  <ion-tab title="프로필" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/profile">
    <ion-nav-view name="tab-profile" ></ion-nav-view>
  </ion-tab>

  <!-- Activity Tab -->
  <ion-tab title="활동" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/activities">
    <ion-nav-view name="tab-activities"></ion-nav-view>
  </ion-tab>

  <!-- Study Tab -->
  <ion-tab title="학습" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/study">
    <ion-nav-view name="tab-study"></ion-nav-view>
  </ion-tab>

  <!-- SNS Tab -->
  <ion-tab title="수강생" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/sns">
    <ion-nav-view name="tab-sns"></ion-nav-view>
  </ion-tab>
</ion-tabs>
