<ion-modal-view view-title="영어회화 팁">
  <ion-content class="padding" align="left">
    <h2 style="text-align:center">스터디가 모두 소진되었습니다.
    </h2>
    <br/>
    <h2 style="text-align:center">아래의 계좌로 입금 부탁드립니다.
    </h2>
    <br/><br/>
    <div style="margin-right:auto;margin-left:auto;border:1px;width:50%">
      <p style="text-align:left;font-size:20px;">
        국민은행 <br/>642601-01-571098<br/>
        <br/> 이성암
        <br/>
      </p>
      </br>
      </p>
    </div>
  </ion-content>
  <button class="button button-block button-calm" ng-click="cloasext()" style='position: fixed;bottom: 30px; width:100%;>닫기</button>
</ion-modal-view>