<ion-modal-view view-title="구매">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">구매하기</h1>
        <button class="button button-clear button-primary" ng-click="purchase_modal.hide()">취소</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <div class="item item-button-right" ng-repeat="item in shop_items">
                <h2 style="font-size=25px;margin-left:20px">{{item.name}} (1{{item.standard}} {{item.price}}원)</h2>
                <button class="button button-positive" ng-click="purchase_item(item)">
                    구매
                </button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>