<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">{{oModal1.title}}</h1>
        <button class="button button-clear button-primary" ng-click="oModal1.hide()">취소</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <ion-radio ng-model="oModal1.choice" ng-value="'1'">Pass</ion-radio>
            <ion-radio ng-model="oModal1.choice" ng-value="'2'">Fail</ion-radio>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input ng-model="oModal1.password" type="password">
            </label>
            <button class="button button-full button-positive" ng-click="rateChange()">변경</button>
        </div>
    </ion-content>
</ion-modal-view>