


<ion-view view-title="프로필">

  <ion-content>
    <div id='wrapper'>
      <div id='profile-img'>
        <img id="profile-image" src="img\male.png" width="100px">
      </div>

      <div id='profile-name'>
        <p profile-name>{{myprofile.name}}</p>
      </div>
      <div id='history-btn'>
        <button class="button button-block button-calm" ng-click="history()" style="width:80px;height=50px;position:fixed;top:50px;right:50px">History</button>
      </div>
      <a id = "joiner-btn" class="button icon icon-right ion-chevron-right" href="#/tab/joiner" style="font-size:13px;position:fixed;top:5px;right:30px">Today Joiners</a>
      <a id = "pronunciation-btn" class="button icon icon-right ion-chevron-right" href="#/tab/joiner" style="font-size:13px;position:fixed;top:5px;right:130px">Upload pronunciation</a>      
    </div>
    <div id='profile-level' class="row">
      <div class="col" width='50%' >Speaking</div>
      <div class="col" width='50%' >Pronunciation</div>
    </div>
    <div id='profile-level' class="row">
      <button  class="button button-block button-positive" ng-click="showLevelModal(0, myprofile.speaking_level)" style="width:50%;height:40px;font-size:18px" >Level : {{myprofile.speaking_level}}</button>
      <button  class="button button-block button-positive" ng-click="showLevelModal(1, myprofile.pronunciation_level)" style="width:50%;height:40px;font-size:18px" >Level : {{myprofile.pronunciation_level}}</button>
    </div>
    <div id='profile-study' align='center'>
      <table class="heavyTable" id='profile-study-items ' class="tg" border="2px" align = 'center ' style="border-collapse:collapse; border:1px gray solid;">
        <tbody>
          <tr ng-repeat="rows in study_items" ng-model="study_items">
            <td ng-repeat="item in rows" ng-click="showStudyResultModal(item)" >
              <div class="col" style="float:left">{{item.name}}</div>
              <img id="pass_or_fail" class="col" src = {{item.path}} style="width:50px" style="float:left"></img>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ion-content>
</ion-view>