<ion-view view-title="영어회화 팁">
  <ion-content class="padding" align="left">
    <h2 style="text-align:center">영어대화 팁 5가지 꼭 숙지하세요
    </h2>
    <br/>
    <h2 style="text-align:center">5. 한국말은 적어놓으세요
    </h2>
    <br/>
    <div style="margin-right:auto;margin-left:auto;border:1px;width:50%">
      <p style="text-align:left;font-size:20px;">
        상대방은 지루한 걸 싫어해요. <br/><br/> 대화 중 모르거나 한국말로 말한 표현들은 적어놓으세요. <br/>
        <br/> 원어민 교포분에게 물어볼수 있는 시간이 있어요!
        <br/>


      </p>
      </br>
      </p>
    </div>
  </ion-content>
  <button class="button button-block button-calm" ng-click="next()" style='position: fixed;bottom: 70px; width:20%; right:50px'>다음</button>
</ion-view>