<ion-view view-title="영어회화 팁">
  <ion-content class="padding" align="left">
    <h2 style="text-align:center">영어대화 팁 5가지 꼭 숙지하세요
    </h2>
    <br/>
    <h2 style="text-align:center">4. 한국말을 섞어 말해요</h2>
    <br/>
    <div style="margin-right:auto;margin-left:auto;border:1px;width:50%">
      <p style="text-align:left;font-size:20px;">
        상대방은 지루한 걸 싫어해요. <br/><br/> 빨리 말하는 게 관건이에요. 어려우면, <br/> 한국말을 섞어 말해도 되요. <br/><br/> 어차피 계속 말하다보면, 자연스럽게 <br/> 한국말이
        서서히 사라질꺼에요.<br/> 나쁜 예)<br/> ex) um….uh……..so………um…………<br/>

      </p>
      <p style="text-align:left;font-size:20px;color:blue"><br/> 좋은 예)<br/> ex. I was so surprised 왜냐하면 suddenly 차가 뒤에서 박았어요.

        </br>
      </p>
    </div>
  </ion-content>
  <button class="button button-block button-calm" ng-click="next()" style='position: fixed;bottom: 70px; width:20%; right:50px'>다음</button>
</ion-view>