<ion-view view-title="영어회화 팁">
  <ion-content class="padding" align="left">
    <h2 style="text-align:center">영어대화 팁 5가지 꼭 숙지하세요
    </h2>
    <br/><br/>
    <h2 style="text-align:center">2. 추가질문 1~2개씩 하기</h2>
    <br/>
    <div style="margin-right:auto;margin-left:auto;border:1px;width:50%">
      <p style="text-align:left;font-size:20px;">상대가 이야기할 때 어떤 추가질문을<br/> 할것인지 미리 생각해 놓았다가<br/> 질문해주세요.
        </br><br/> Ex) 나쁜 예 <br/> A : 몇시에 자요?<br/> B : 3시요<br/> A : 다음으로 넘어갈께요.<br/>
      </p>
      <p style="text-align:left;font-size:20px;color:blue"><br/> Ex) 좋은 예 <br/> A : 몇시에 자요?<br/> B : 3시요<br/> A : 그때까지 뭐하시는데요?<br/>보통 밤에 뭐해요?<br/>아침에 몇시에 일어나요?</br>
      </p>
    </div>
  </ion-content>
  <button class="button button-block button-calm" ng-click="next()" style='position: fixed;bottom: 70px; width:20%; right:50px'>다음</button>
</ion-view>