<ion-view view-title="영어회화 팁">
  <ion-content class="padding" align="left">
    <h2 style="text-align:center">영어대화 팁 5가지 꼭 숙지하세요
    </h2>
    <br/>
    <h2 style="text-align:center">3. 쉬운 문장으로 말해요</h2>
    <br/>
    <div style="margin-right:auto;margin-left:auto;border:1px;width:50%">
      <p style="text-align:left;font-size:20px;">
        당신이 왕 초급이라면,</br>
        하고 싶은 말을 하기 보다, 할수 있는 </br>
        말을 하세요.</br>
        <br/>어차피 계속 말하다 보면<br/> 자연스럽게 표현이 디테일 해져요.<br/><br> 나쁜 예)<br/> ex) 저는 인간적이면서도 가끔은 엄하고 카리스마 있는 선생님이 좋아요.
      </p>
      <p style="text-align:left;font-size:20px;color:blue"><br/> 좋은 예)<br/> ex. 저는 열정적인 선생님이 좋아요.
        </br>
      </p>
    </div>
  </ion-content>
  <button class="button button-block button-calm" ng-click="next()" style='position: fixed;bottom: 70px; width:20%; right:50px'>다음</button>
</ion-view>